import os

WEBSITE_URL = os.getenv('WC_TO_EXCEL_URL', "https://example.com")
CONSUMER_KEY =  os.getenv('WC_TO_EXCEL_CONSUMER_KEY', "ck_XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX")
CONSUMER_SECRET = os.getenv('WC_TO_EXCEL_CONSUMER_SECRET', "cs_XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX")
API_VERSION = os.getenv('WC_TO_EXCEL_API_VERSION', "wc/v3")
TIMEOUT = os.getenv('WC_TO_EXCEL_TIMEOUT', 15)